{% extends 'WebsiteAdminBundle::layout.html.twig' %}

{% block title_admin_content %}<b>Création d'une nouvelle présentation</b>{% endblock %}

{% block body_admin %}

	<section class="invoice">

		<div class="row">
		   {{form(form)}}
		</div>

	</section>

{% endblock %}