<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title> Thomas Caron | Log in</title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
 
          {% stylesheets filter='uglifycss'
             '@WebsiteAdminBundle/Resources/public/css/bootstrap.min.css'
             '@WebsiteAdminBundle/Resources/public/css/AdminLTE.min.css'
             '@WebsiteAdminBundle/Resources/public/js/iCheck/square/blue.css'
              %}
            <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
        {% endstylesheets %}
         {% javascripts filter='uglifyjs2'
              '@WebsiteAdminBundle/Resources/public/js/jquery-2.2.3.min.js'
              '@WebsiteAdminBundle/Resources/public/js/bootstrap.min.js'
              '@WebsiteAdminBundle/Resources/public/js/iCheck/icheck.min.js'
             %}
            <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}


</head>
<body class="hold-transition login-page">
<div class="login-box">
  <div class="login-logo">
    <a href="#"><b>Administration</b></a>
  </div>
  <!-- /.login-logo -->
  <div class="login-box-body">
    <p class="login-box-msg">Sign in to start your session</p>

    <form action="{{ path('login_check') }}" method="post">
      <div class="form-group has-feedback">
        <input type="text" class="form-control" id="username" name="_username" placeholder="Username">
        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
      </div>
      <div class="form-group has-feedback">
        <input type="password" class="form-control" placeholder="Password" id="password" name="_password">
        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
      </div>
      <div class="row">
        <div class="col-xs-8">
          <div class="checkbox icheck">
            <label>
              <input type="checkbox"> Remember Me
            </label>
          </div>
        </div>
        <div class="col-xs-4">
          <button type="submit" class="btn btn-primary btn-block btn-flat">Sign In</button>
        </div>
      </div>
    </form>
  </div>
</div>

<script>
  $(function () {
    $('input').iCheck({
      checkboxClass: 'icheckbox_square-blue',
      radioClass: 'iradio_square-blue',
      increaseArea: '20%' // optional
    });
  });
</script>
</body>
</html>
