{% extends 'base.html.twig' %}
  {% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/bootstrap/dist/css/signin.css') }}">
  {% endblock %}
 {# S'il y a une erreur, on l'affiche dans un joli cadre #}

{% block body %}
  {% if error %}
    <div class="alert alert-danger">{{ error.message }}</div>
  {% endif %}
<div class="container">
  {# Le formulaire, avec URL de soumission vers la route « login_check » comme on l'a vu #}
  <form class="form-signin" action="{{ path('login_check') }}" method="post">
    <h2 class="form-signin-heading">{% trans %}Please sign in{% endtrans %}</h2>
    <label for="username" class="sr-only">Login :</label>
    <input type="text" class="form-control" id="username" name="_username" value="{{ last_username }}" />

    <label for="password" class="sr-only">Mot de passe :</label>
    <input type="password" class="form-control" id="password" name="_password" />
    <br />
    <input type="submit" class="btn btn-lg btn-primary btn-block" value="Connexion" />
  </form>
 </div>
{% endblock %}